@import 'mixin.scss';
@import 'variable.scss';
@import 'function.scss';

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: var(--transition-speed) ease;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: var(--color-bright);
  background: var(--color-dark);
}

a {
  all: unset;
  cursor: pointer;
}

.main-container {
  @include flexCenterX;

  min-height: 100vh;
  height: fit-content;
  width: 100%;

  >.main-container-outer {
    @include flexCenterX;

    width: 100%;
    max-width: 1280px;
    border: var(--padding-size) solid #0000;
    border-radius: 10px;

    >.main-container-inner {
      @include flexColumns;

      width: 100%;
      border-radius: 10px;
      background-color: var(--color-dark);
      padding: calc(var(--padding-size) + 10px);
    }
  }

  >.main-container-outer::after {
    content: '';
    width: 100%;
    max-width: 1280px;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: var(--color-active);
    background: var(--linear-gradient-large);
    clip-path: polygon(0 0, var(--line-length) 0, 0 var(--line-length), calc(100% - var(--line-length)) 100%, 100% calc(100% - var(--line-length)), 100% 100%, calc(100% - var(--line-length)) 100%, 0 var(--line-length));
    border-radius: inherit;
    z-index: -1;
  }

  @media screen and (max-width: 600px) {
    >.main-container-outer::after {
      clip-path: polygon(0 0, var(--line-length) 0, var(--line-length) var(--line-length), 0 var(--line-length));
    }
  }
}

.mine {
  >.mine-inner {
    position: relative;

    >h2 {
      font-weight: unset;
    }

    >.mine-content {
      position: relative;
      border-top-left-radius: 7px;

      >.mine-content-inner {
        position: relative;
        padding: calc(var(--padding-size) * 1.5) calc(var(--padding-size) * 1.5);
        background-color: var(--color-dark);
        z-index: 1;
        border-radius: inherit;

        >div {
          margin-bottom: 10px;
          display: grid;

          a {
            padding-bottom: 10px;
            position: relative;

            >span {
              background: var(--linear-gradient-medium);
              background-repeat: no-repeat;
              color: transparent;
              background-clip: text;
              font-weight: 600;
              background-size: 0%;
              background-color: var(--color-bright);
              transition: var(--fast-transition-speed) ease;
            }
          }

          a:hover {
            >span {
              background-size: 100%;
              letter-spacing: 1px;
            }
          }

          a.active {
            >span {
              background-size: 100%;
              letter-spacing: 1px;
            }

            >span::before {
              content: '↫ ';
            }
          }
        }
      }
    }

    >.mine-content::before {
      content: '';
      width: 90px;
      height: 90px;
      max-height: calc(100% + var(--sm-line-width));
      border-radius: inherit;
      background: var(--linear-gradient-medium-half);
      position: absolute;
      top: calc(var(--sm-line-width) * -1);
      left: calc(var(--sm-line-width) * -1);
      z-index: 0;
    }
  }
}

header {
  @include flexFillStart;

  >.logo {
    font-size: 400%;
    font-family: sans-serif;
    font-weight: bold;
  }

  >nav {
    @include flexEnd;

    >div {
      padding: 0 1rem;
    }

    >div:last-child {
      padding-right: 0;
    }
  }
}

main {
  @include flexCenterY;

  height: -webkit-fill-available;
  height: -moz-available;
  height: -ms-available;
  height: -o-available;

  section.view {
    display: grid;
    width: 100%;
    min-height: 15rem;
    grid-template-columns: 1fr 350px;
    gap: 5rem;
    padding: 0 0 0 calc(var(--padding-size) * 2);


    >.main-content {

      >h1 {
        font-weight: unset;
        font-size: 350%;
        margin-top: 0;
      }

      >div {
        padding-left: calc(var(--padding-size) + 10px);
        position: relative;
      }

      >div::after {
        content: '';
        height: 100%;
        width: var(--sm-line-width);
        background: var(--linear-gradient-medium);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

}

@media screen and (max-width: 900px) {
  main {
    align-items: flex-start;
    padding-top: calc(var(--padding-size) * 2);

    section.view {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 0;

      >.main-content {
        >h1 {
          font-size: 250%;
        }
      }
    }
  }
}

footer {
  @include flexEnd;

  gap: 5px;
  padding: calc(var(--padding-size) * 2) 0 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--color-bright);
    background: var(--color-dark);
  }
}